.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.bar-chart__axis {
  display: block;
  font-size: 11px;
  position: absolute;
}

.bar-chart__axis-item {
  transform: translateX(-50%);
}
.bar-chart__axis-item > div {
  max-width: 30px;
  text-align: center;
}

img {
  width: 24px;
  height: 24px;
  border-radius: 24px;
}



.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
